<section class="clients">
  <div class="container clients-container">
    <h2>What Clients Say</h2>
    <p>
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <ul>
      <li>
        <img
          src="/img/Group 204.svg"
          alt="4 stars out of 5"
          width="106"
          height="18"
        />
        <p>
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <picture>
          <source
            srcset="
              /img/client1-universal@1x.png 1x,
              /img/client1-universal@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/client1-universal@1x.png 1x,
              /img/client1-universal@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/client1-universal@1x.png" alt="first client image" />
        </picture>
        <ul>
          <li>Wahid Ari</li>
          <li>Designer</li>
        </ul>
      </li>
      <li>
        <img
          src="/img/Group 204.svg"
          alt="4 stars out of 5"
          width="106"
          height="18"
        />
        <p>
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <picture>
          <source
            srcset="
              /img/client2-universal@1x.png 1x,
              /img/client2-universal@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/client2-universal@1x.png 1x,
              /img/client2-universal@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/client2-universal@1x.png" alt="second client image" />
        </picture>
        <ul>
          <li>Wahid Ari</li>
          <li>Designer</li>
        </ul>
      </li>
      <li>
        <img
          src="/img/Group 204.svg"
          alt="4 stars out of 5"
          width="106"
          height="18"
        />
        <p>
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <picture>
          <source
            srcset="
              /img/client3-universal@1x.png 1x,
              /img/client3-universal@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/client3-universal@1x.png 1x,
              /img/client3-universal@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/client3-universal@1x.png" alt="third client image" />
        </picture>
        <ul>
          <li>Wahid Ari</li>
          <li>Designer</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
