<section class="collaborative section">
  <div class="container colaborative-container">
    <div class="text-section">
      <h3 class="collaborative-pretitle">Optimization for</h3>
      <h2 class="collaborative-title">Collaborative</h2>
      <p class="collaborative-text">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <h3 class="collaborative-subtitle">Accessory makers</h3>
      <p class="collaborative-text">
        While most people enjoy casino gambling, sports betting, lottery and
        bingo playing for the fun
      </p>
      <h3 class="collaborative-subtitle">Alterationists</h3>
      <p class="collaborative-text">
        If you are looking for a new way to promote your business that won’t
        cost you more money,
      </p>
    </div>
    <picture>
      <source
        srcset="
          /img/collaborative-desktop@1x.png 1x,
          /img/collaborative-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/collaborative-mobile@1x.png 1x,
          /img/collaborative-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="/img/collaborative-mobile@1x.png" alt="management-img" />
    </picture>
  </div>
</section>
