<section class="custsupport-section">
  <div class="container custsupport-container">
    <picture>
      <source
        srcset="
          /img/custsupport-desktop@1x.png 1x,
          /img/custsupport-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/custsupport-mobile@1x.png 1x,
          /img/custsupport-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="/img/custsupport-mobile@1x.png" alt="customer support image" />
    </picture>
    <div class="text-section">
      <h3 class="custsupport-pretitle">Easier decision making for</h3>
      <h2 class="custsupport-title">Customer Support</h2>
      <p class="custsupport-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="custsupport-list">
        <li class="custsupport-list-item">
          <p class="custsupport-list-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="custsupport-list-item">
          <p class="custsupport-list-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="custsupport-list-item">
          <p class="custsupport-list-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
