<section class="experts-section">
        <div class="container experts-container">
        <h2 class="experts-title">Quick & Easy Process</h2>
        <p2 class="experts-text">
          Do you require some help for your project: Conception workshop,
          prototyping, marketing strategy, landing page, Ux/UI?
        </p2>
        <div class="experts-statements"></div>
        <ul class="experts-list">
          <li class="experts-list-item">
            <div class="thumb">
                <picture>
                    <source
                        srcset="
                        /img/avatar1-desktop@1x.png 1x,
                        /img/avatar1-desktop@2x.png 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        /img/avatar1-mobile@1x.png 1x,
                        /img/avatar1-mobile@2x.png 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="/img/avatar1-mobile@1x.png" alt="first expert photo" />
                </picture>
                <p class="experts-list-text">I can take care of your pitch</p>
            </div>
          </li>
          <li class="experts-list-item">
            <div class="thumb">
            <p class="experts-list-text">I can prototype your app</p>
            <picture>
                    <source
                        srcset="
                        /img/avatar2-desktop@1x.png 1x,
                        /img/avatar2-desktop@2x.png 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        /img/avatar2-mobile@1x.png 1x,
                        /img/avatar2-mobile@2x.png 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="/img/avatar2-mobile@1x.png" alt="second expert photo" />
                </picture>
            </div>
          </li>
          <li class="experts-list-item">
            <div class="thumb">
            <p class="experts-list-text">I can take care of your pitch</p>
            <picture>
                    <source
                        srcset="
                        /img/avatar3-desktop@1x.png 1x,
                        /img/avatar3-desktop@2x.png 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        /img/avatar3-mobile@1x.png 1x,
                        /img/avatar3-mobile@2x.png 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="/img/avatar3-mobile@1x.png" alt="third expert photo" />
                </picture>
            </div>
          </li>
          <li class="experts-list-item">
            <div class="thumb">
            <picture>
                    <source
                        srcset="
                        /img/avatar4-desktop@1x.png 1x,
                        /img/avatar4-desktop@2x.png 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                        /img/avatar4-mobile@1x.png 1x,
                        /img/avatar4-mobile@2x.png 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <img src="/img/avatar4-mobile@1x.png" alt="fourth expert photo" />
                </picture>
            <p class="experts-list-text">I can help marketing strategy</p>
            </div>
          </li>
        </ul>
        </div>
        <button class="contact-expert-btn" type="button">Contact our expert</button>
        </div>
      </section>