 <section class="section-features">
        <div class="container features-container"></div>
        <h2 class="features-title">Product was Built Specifically for You</h2>
        <ul class="features-list">
          <li class="features-list-item">
            <div class="product-box"><svg width="18" height="18"><use href="/img/icons.svg#icon-cursor"></use></svg></div>
            <h3 class="features-list-item-header">First click tests</h3>
            <p class="features-text">
              While most people enjoy casino gambling,
            </p>
          </li>
          <li class="features-list-item">
            <div class="product-box"><svg width="18" height="18"><use href="/img/icons.svg#icon-wave"></use></svg></div>
            <h3 class="features-list-item-header">Design Surveys</h3>
            <p class="features-text">
              Sports betting, lottery and bingo playing for the fun
            </p>
          </li>
          <li class="features-list-item">
            <div class="product-box"><svg width="18" height="18"><use href="/img/icons.svg#icon-heart"></use></svg></div>
            <h3 class="features-list-item-header">Preference tests</h3>
            <p class="features-text">
              The Myspace page defines the individual.
            </p>
          </li>
          <li class="features-list-item">
            <div class="product-box"><svg width="18" height="18"><use href="/img/icons.svg#icon-cleps"></use></svg></div>
            <h3 class="features-list-item-header">Five seconds tests</h3>
            <p class="features-text">
              Personal choices and the overall personality of the person.
            </p>
          </li>
        </ul>
        <button class="signup-btn" type="button">SIGN UP NOW</button>
      </div>
      </section>