<footer class="page-footer">
  <div class="container footer-container">
    <div class="main-footer-part">
      <div class="logo-media">
        <a href="./index.html" class="logo footer-logo">
          <img
            src="./images/logo.svg"
            alt="Logo"
            width="40"
            height="36"
          />Product
        </a>
        <ul class="social-media list">
          <li class="social-media-item">
            <a href="" class="social-list-link">
              <img
                src="./images/instagram.svg"
                alt="Instagram Logo"
                width="40"
                height="40"
              />
            </a>
          </li>
          <li class="social-media-item">
            <a href="" class="social-list-link"
              ><img
                src="./images/facebook.svg"
                alt="Facebook Logo"
                width="40"
                height="40"
              />
            </a>
          </li>
          <li class="social-media-item">
            <a href="" class="social-list-link">
              <img
                src="./images/twitter.svg"
                alt="Twitter Logo"
                width="40"
                height="40"
              />
            </a>
          </li>
        </ul>
      </div>

      <div class="resource">
        <p class="resource-title">Resource</p>
        <ul class="resource-list">
          <li class="resource-item"><a href="">About Us</a></li>
          <li class="resource-item"><a href="">Blog</a></li>
          <li class="resource-item"><a href="">Contact</a></li>
          <li class="resource-item"><a href="">FAQ</a></li>
        </ul>
      </div>

      <div class="legal">
        <p class="legal-title">Legal Stuff</p>
        <ul class="legal-list">
          <li class="legal-item"><a href="">Disclaimer</a></li>
          <li class="legal-item"><a href="">Financing</a></li>
          <li class="legal-item"><a href="">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="knowing">
        <p class="knowing-title">
          knowing you're always on the best energy deal.
        </p>

        <form action="">
          <div class="form-container">
            <label class="form-label" for="user-phone"></label>
            <div class="form-input-cont">
              <input
                class="form-input"
                type="tel"
                id="user-phone"
                name="userphone"
                autofocus
                placeholder="Enter your phone number"
              />
              <div class="icon-phone">
                <svg class="phone-icon" width="16" height="24">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
              </div>
            </div>

            <button class="footer-btn" type="button">Sign up Now</button>
          </div>
        </form>
      </div>
    </div>
    <p class="love">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
