<section class="join-section">
  <div class="container join-container">
    <h2>Join 100 Companies who boost their business with Product</h2>
    <button type="button">Get This</button>
    <picture>
      <source
        srcset="/img/join-universal@1x.png 1x, /img/join-universal@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/join-universal@1x.png 1x, /img/join-universal@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="/img/join-universal@1x.png" alt="join us image" />
    </picture>
  </div>
</section>
