<section class="management-section">
  <div class="container management-container">
    <div class="text-section">
      <h3 class="management-pretitle">Effortless validation for</h3>
      <h2 class="management-title">Management</h2>
      <p class="management-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <h3 class="management-subtitle">Accessory makers</h3>
      <p class="management-text">
        While most people enjoy casino gambling, sports betting, lottery and
        bingo playing for the fun
      </p>
      <h3 class="management-subtitle">Alterationists</h3>
      <p class="management-text">
        If you are looking for a new way to promote your business that won’t
        cost you more money,
      </p>
    </div>
    <picture>
      <source
        srcset="
          /img/management-desktop@1x.png 1x,
          /img/management-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/management-mobile@1x.png 1x,
          /img/management-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="/img/management-mobile@1x.png" alt="management-img" />
    </picture>
  </div>
</section>
