<section class="price-section">
  <div class="container">
    <h2 class="price-title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
    <ul class="price-list">
      <li class="price-list-item">
        <h3 class="price-subtitle">Free</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price">
          <h4 class="price-per-month">
            <span class="price-sum">0</span>
            <span class="dollar-sign">$</span> Per/month
          </h4>
        </div>
        <ul>
          <li class="price-sublist-item">Only 2 Operators</li>
          <li class="price-sublist-item">Notifications</li>
          <li class="price-sublist-item">Landing Pages</li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-list-item">
        <h3 class="price-subtitle">Standard</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price">
          <h4 class="price-per-month">
            <span class="price-sum">5</span>
            <span class="dollar-sign">$</span> Per/month
          </h4>
        </div>
        <ul>
          <li class="price-sublist-item">5+ Operators</li>
          <li class="price-sublist-item">Notifications</li>
          <li class="price-sublist-item">Landing Pages</li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-list-item">
        <h3 class="price-subtitle">Premium</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price">
          <h4 class="price-per-month">
            <span class="price-sum">10</span>
            <span class="dollar-sign">$</span> Per/month
          </h4>
        </div>
        <ul>
          <li class="price-sublist-item">10+ Operators</li>
          <li class="price-sublist-item">Notifications</li>
          <li class="price-sublist-item">Landing pages</li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
