<section class="strategies-section">
  <div class="container strategies-container">
    <h2 class="strategies-title">Content Strategies</h2>
    <p class="strategies-text">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="strategies-list">
      <li class="strategies-list-item">
        <picture>
          <source
            srcset="
              /img/strategies1-desktop@1x.jpg 1x,
              /img/strategies1-desktop@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/strategies1-mobile@1x.jpg 1x,
              /img/strategies1-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/strategies1-mobile@1x.pjpg" alt="strategy one image" />
        </picture>
        <p>By Wahid Ari | 03 March 2019</p>
        <h3>Increasing Prosperity With Positive Thinking</h3>
      </li>
      <li></li>
      <li class="strategies-list-item">
        <picture>
          <source
            srcset="
              /img/strategies2-desktop@1x.jpg 1x,
              /img/strategies2-desktop@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/strategies2-mobile@1x.jpg 1x,
              /img/strategies2-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/strategies2-mobile@1x.pjpg" alt="strategy two image" />
        </picture>
        <p>By Wahid Ari | 03 March 2019</p>
        <h3>Motivation Is The First Step To Success</h3>
      </li>
      <li class="strategies-list-item">
        <picture>
          <source
            srcset="
              /img/strategies3-desktop@1x.jpg 1x,
              /img/strategies3-desktop@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/strategies3-mobile@1x.jpg 1x,
              /img/strategies3-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/strategies3-mobile@1x.jpg"
            alt="strategy three image"
          />
        </picture>
        <p>By Wahid Ari | 03 March 2019</p>
        <h3>Success Steps For Your Personal Or Business</h3>
      </li>
    </ul>
  </div>
</section>
