.clients-section {
}

.clients-container {
  margin: 0 auto;
}

.clients-title {
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}

.logos-list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.logos-list-item {
  /* flex-basis: calc((100%-192px) / 4); */
}
