.page-footer {
  display: flex;
  align-items: baseline;
}

.footer-container {
  width: 100%;
}

.main-footer-part {
  display: flex;
  align-items: baseline;
}

.logo {
}
.footer-logo {
  width: 178px;
  height: 36px;
  margin-bottom: 18px;
  margin-right: 146px;
}
.social-media {
  display: flex;
  align-items: baseline;
  gap: 16px;
}
.list {
}
.social-media-item {
}
.social-list-link {
}
.resource {
  min-width: 118px;
  height: 205px;
  margin-right: 129px;
  margin-bottom: 8px;
}

.resource-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.resource-list {
}
.resource-item {
  line-height: 2.19;
  color: #22343d;
}
.legal {
  min-width: 131px;
  height: 205px;
  margin-right: 83px;
  margin-bottom: 8px;
}
.legal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.legal-list {
}
.legal-item {
  line-height: 2.19;
  color: #22343d;
}
.knowing {
  position: relative;
}
.knowing-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  width: 280px;
  margin-bottom: 30px;
}

.form-container {
  width: 325px;
}

.form-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
}

.form-input-cont {
  position: relative;
  margin-bottom: 25px;
}

.form-input {
  width: 100%;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
}

.form-input:focus {
  border-color: #02897a;
}

.form-input::placeholder {
  line-height: 1.75;
  color: #02897a;
  letter-spacing: 0px;
}

.footer-btn {
  position: absolute;
  left: 0;
  top: 100;
  font-weight: 700;
  text-align: center;
  color: #fff;
  display: block;
  margin: auto;
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  min-width: 131px;
  height: 39px;
}
.type {
}
.love {
  line-height: 1.88;
  text-align: center;
}

.phone-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  pointer-events: none;
  fill: #02897a;
}
